@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

body {
    background-color: #2b2b2b;
}

body .header {
    font-size: 3.5vh;
    font-family: Poppins, sans-serif;
    color: #fff;
}

body .header2 {
    font-size: 1.0vh;
    font-family: Poppins, sans-serif;
    color: #fff;
    transform: translate(0, -5vh);
}
