@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

body .header {
    font-size: 20vh;
    font-family: Poppins, sans-serif;
}

body .header2 {
    font-size: 10vh;
    font-family: Poppins, sans-serif;
}
