@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');

body {
    background-image: url('home.png');
    background-size: cover;
    position: relative;
    max-width: 100%;
    height: auto;
}

.home .head #header {
    font-family: Poppins, Sans-Serif;
    font-size: 4vh;
    color: white;
    left: 2vh;
    font-weight: bold;
    transform: translateX(2vh);
}

.home .head #wcm, #end {
    font-family: Poppins, Sans-Serif;
    font-size: 2.5vh;
    color: #efefef;
    transform: translateY(-8vh);
    transform: translateX(2vh);
}

.home .petit #codes, #commu {
    max-width: 50vh;
    height: auto;
}

.home .petit #codes_call, #commu_call {
    font-family: Poppins, sans-serif;
    font-size: 2.5vh;
    color: #C4C4DB;
    transform: translateX(2vh);
}

.home .head #wcm2 {
    font-family: Poppins, Sans-Serif;
    font-size: 2.5vh;
    color: #C4C4DB;
    margin-left: 2vh;
    transform: translateY(-1vh);
}

.home #ok {
    font-family: Poppins, sans-serif;
    color: #0E0E76;
    background-color: #D4D4FF;
    width: 30vh;
    height: 5vh;
    font-weight: bold;
    font-size: 1.5vh;
    border-radius: 1.5vh;
    margin: auto;
    display: block;
}
