body {
    background-image: url('bg.png');
}

.sigin .header .input-with-icon {
    position: relative;
}

.sigin .header .input-with-icon .searchText {
    padding-left: 40px;
}

.sigin .header .input-with-icon .icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}
