@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

html {
    background-image: url('79 Sem Título_20230108102847.png');
}

.header {
    color: #fff;
    width: 100%;
    margin-bottom: 1vh;
    margin-left: 1vh;
    font-family: Poppins, sans-serif;
    font-size: 5vh;
}

.h1 {
    color: #fff;
    width: 100%;
    margin-bottom: 0.5vh;
    margin-left: 1vh;
    font-family: Poppins, sans-serif;
    font-size: 3vh;
}

.h2 {
    color: #ddd;
    width: 100%;
    margin-bottom: 0.5vh;
    margin-left: 1vh;
    font-family: Poppins, sans-serif;
    font-size: 2vh;
}

.h2_1 {
    color: #979;
    width: 100%;
    margin-bottom: 0.7vh;
    margin-left: 1vh;
    font-family: Poppins, sans-serif;
    font-size: 1vh;
}

.h3 {
    color: #ddd;
    width: 100%;
    margin-bottom: 0.5vh;
    margin-left: 1vh;
    font-family: Poppins, sans-serif;
    font-size: 2vh;
}

.h3_1 {
    color: #979;
    width: 100%;
    margin-bottom: 0.5vh;
    margin-left: 1vh;
    font-family: Poppins, sans-serif;
    font-size: 1vh;
}

.h3_2 {
    color: #979;
    width: 100%;
    margin-bottom: 0.7vh;
    margin-left: 1vh;
    font-family: Poppins, sans-serif;
    font-size: 1vh;
}
