@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

html {
    background-image: url('72 Sem Título_20230104172538.png');
}

.header {
    color: #fff;
    width: 100%;
    margin-bottom: 1vh;
    margin-left: 1vh;
    font-family: Poppins, sans-serif;
    font-size: 5vh;
}

.h1 {
    color: #fff;
    width: 100%;
    margin-bottom: 0.5vh;
    margin-left: 1vh;
    font-family: Poppins, sans-serif;
    font-size: 3vh;
}

.h3 {
    color: #ddd;
    width: 100%;
    margin-bottom: 0.5vh;
    margin-left: 1vh;
    font-family: Poppins, sans-serif;
    font-size: 2vh;
}

.h3_1 {
    color: #ccc;
    width: 100%;
    margin-bottom: 0.5vh;
    margin-left: 1vh;
    font-family: Poppins, sans-serif;
    font-size: 1vh;
}

.h2 {
    color: #ccc;
    width: 100%;
    margin-bottom: 1vh;
    margin-left: 1vh;
    font-family: Poppins, sans-serif;
    font-size: 1.5vh;
}

#install {
    color: #fff;
    background-color: transparent;
    height: 4.5vh;
    width: 40vh;
    margin-left: 1vh;
    font-family: Poppins, sans-serif;
    font-size: 1.5vh;
    border-radius: 5vh;
    border-width: 0.3vh;
    border-color: #fff;
}
